@charset "utf-8";
/* CSS Document */

/* *** FRONT END *** */

body {margin:10px 20px; }
.green .x-tree-node-icon { background: transparent url(../img/save.png) no-repeat; }
.red .x-tree-node-icon { background: transparent url(../img/cancel.gif) no-repeat; }
.hide, .x-tree-node-cb {display:none; }
.borderBottom tr { border-bottom: 2px solid #000099; }
	
	
/* *** BACK END *** */
@import url('../js/colorpicker/color-picker.css');
.hide {display: none;} 

.colorbox{
	background-color: #F00;
	background-image: none;
	padding: 5px 10px;
	border: 0;
	text-decoration: none;
	margin: 5px;
	border: 2px solid #000;
}
.colorwheel {
	background:url("../img/color_wheel.gif") repeat scroll 0 0 transparent;
	cursor:pointer;
	display:inline-block;
	height:16px;
	position:relative;
	right:-2px;
	top:-1px;
	width:16px;
}

.toggleColor {
	background:repeat scroll 0 0 transparent;
	cursor:pointer;
	display:inline-block;
	height:20px;
	position:relative;
	right:-2px;
	top:-7px;
	width:16px;
}

.toggleColor.green {
	background-image:url("../img/save.png");
}

.toggleColor.red {
	background-image:url("../img/cancel.gif");
}

#addVar .statement {
	text-align:center;
	font-weight: bold;
	font-size:14px;
	color:red;
}
.pageviewLink {
	display: block;
	padding: 3px;
}

.genContent p {
	padding: 5px auto;
}